{
  "extends": "../../.eslintrc",
  "rules": {
    "no-console": "off",
    "jsx-a11y/click-events-have-key-events": "off",
    "jsx-a11y/no-noninteractive-element-interactions": "off",
    "react/jsx-one-expression-per-line": "off",
    "react/destructuring-assignment": "off"
  }
}
