{
  "extends": "../../.eslintrc",
  "rules": {
    "no-console": "off",
    "jsx-a11y/click-events-have-key-events": "off",
    "jsx-a11y/no-noninteractive-element-interactions": "off",
    "react/jsx-one-expression-per-line": "off",
    "react/destructuring-assignment": "off",
    "react/jsx-curly-newline": "off",
    "react/no-unused-prop-types": "off",
    "react/button-has-type": "off",
    "react/require-default-props": "off"
  }
}
