{
  "env": {
    "browser": false,
    "es2022": true
  },
  "extends": [
    "airbnb",
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "@typescript-eslint/no-explicit-any": "warn",
    "no-use-before-define": "off",
    "no-continue": "off",
    "import/no-unresolved": "off",
    "function-paren-newline": "off",
    "implicit-arrow-linebreak": "off",
    "no-restricted-syntax": "off",
    "object-curly-newline": "off",
    "operator-linebreak": "off",
    "consistent-return": "off",
    "no-plusplus": "off",
    "@typescript-eslint/no-unused-vars": "off",
    "import/extensions": "off",
    "import/prefer-default-export": "off",
    "class-methods-use-this": "off",
    "react/jsx-filename-extension": [
      2,
      { "extensions": [".js", ".jsx", ".ts", ".tsx"] }
    ]
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  }
}
