@font-face {
  font-family: Geist;
  src: url(Geist-Regular.woff2);
}

body,
html {
  margin: 0;
  padding: 0;
  background-color: #333;
  color: white;
  font-family: Geist;
}

* {
  box-sizing: border-box;
}

#root {
  margin: 2rem;
}

h1,
h2,
h3,
p {
  all: unset;
}

h1 {
  font-size: 2rem;
  font-weight: 500;
  display: block;
}

h2 {
  font-size: 1.5rem;
  font-weight: 500;
  display: block;
}

h3 {
  font-size: 1.25rem;
  font-weight: 500;
  display: block;
}

p {
  font-size: 1rem;
}
